{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s12 center-align">
        <div class="card-panel">
            <i class="material-icons large">error_outline</i>
            <h4>404 - Page Not Found</h4>
            <p>The page you're looking for doesn't exist.</p>
            <a href="{{ url_for('home') }}" class="btn waves-effect waves-light blue darken-1">
                <i class="material-icons left">home</i>
                Go Home
            </a>
        </div>
    </div>
</div>
{% endblock %}